body{
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}
h1{
    color: rgb(180, 63, 190);
}
img{
    width: 10rem;
    height: 10rem;
}
#aboutme {
    background: beige;
    color:black;
}
#education,.experience{
    background: #ad5389;
}
p{
    color:white;
}
#myhobbies{
    background: white;
}
#myhobbies p{
    color:black;
}